:root {
    --bg-color: #c6c6c9;
    --inverted-bg-color: #0a0a46;
    --primary-color: #07287d;
    --secondary-color: #1109ae;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
